header{
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: aqua;
    height: 70px;
    justify-content: center;

  
}
.div4{
    background-color: yellow;
    width:90%;
    height: 520px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: aquamarine;
    height: 70px;
    justify-content: center;
} 

.div2{
    display: flex;
    flex-direction: row;
    
}
.div3{
    display: flex;
    flex-direction: column;
    background-color: red;
    width:10%;
    height: 520px;
    justify-content: center;
    text-align: center;
}
.div4 h1{
    margin: 20%;
}




@media screen  and (max-width: 960px) {

    header{
        display: flex;
        flex-direction: row;
        width:100%;
        background-color: aqua;
        height: 70px;
        justify-content: center;
    
      
    }

    .div2{
        display: flex;
        flex-direction: column;
        
    }
    .div3{
        display: flex;
        flex-direction: column;
        background-color: red;
        width:100%;
        height: 160px;
        justify-content: center;
        text-align: center;
    }
    .div4 h1{
        margin: 20%;
    }
    
    .div4{
        background-color: yellow;
        width:100%;
        height: 260px;
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: row;
        width:100%;
        background-color: aquamarine;
        height: 70px;
        justify-content: center;
    } 

}